{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Bethany College of Nursing{% endblock %}
{% block body %}
<meta charset="UTF-8">
<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
 $(document).on('submit','#form_submit',function (e) {
     $.ajax({
         type:'POST',
         url:"{% url 'feesdata' %}",
         data: {
             student_name: $('#id_student_name').val(),
             fathers_name: $('#id_fathers_name').val(),
             year: $('#id_year').val(),
             email: $('#id_email').val(),
             fee_type: $('#id_fee_type').val(),
             fees_amount: $('#id_fees_amount').val(),
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
         },
     });
 });
</script>
<link rel="stylesheet" href="{% static 'css/fixed button.css' %}">
<link rel="stylesheet" href="{% static 'css/fixed anchor.css' %}">
<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#hide").click(function(){
    $("#details").toggle(500);
  });
});
</script>
<script type="text/javascript">
 $(document).on('submit','#form_submit',function (e) {
     $.ajax({
         type:'POST',
         url:"{% url 'update_data' post.pk  %}",
         data: {
             f_b: $('#f_B').val(),
             f_cp: $('#f_CP').val(),
             s_b: $('#s_B').val(),
             s_cp: $('#s_CP').val(),
             t_b: $('#t_B').val(),
             t_cp: $('#t_CP').val(),
             fo_b: $('#fo_B').val(),
             fo_cp: $('#fo_CP').val(),
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
         },
     });
 });
</script>
<script type="text/javascript">
$("#id_f_currently_paid, #id_f_balance, #f_amount, #id_s_currently_paid, #id_s_balance, #t_amount, #id_t_currently_paid, #id_t_balance, #t_amount, #id_fo_currently_paid, #id_fo_balance, #fo_amount").keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        //display error message
               return false;
     }
});

$(function() {
    $("#id_f_currently_paid, #id_f_balance, #f_amount, #id_s_currently_paid, #id_s_balance, #s_amount, #t_amount, #id_t_currently_paid, #id_t_balance, #t_amount, #id_fo_currently_paid, #id_fo_balance, #fo_amount").on("keydown keyup", per);
 function per() {

     var new_bal_f = (
         Number($("#id_f_balance").val()) - Number($("#f_amount").val())
    );
     $("#f_B").val(new_bal_f);

    var new_CP_f = (
        Number($("#id_f_currently_paid").val()) + Number($("#f_amount").val())
    );
    $("#f_CP").val(new_CP_f);

    var new_bal_s = (
         Number($("#id_s_balance").val()) - Number($("#s_amount").val())
    );
     $("#s_B").val(new_bal_s);

    var new_CP_s = (
        Number($("#id_s_currently_paid").val()) + Number($("#s_amount").val())
    );
    $("#s_CP").val(new_CP_s);

    var new_bal_t = (
         Number($("#id_t_balance").val()) - Number($("#t_amount").val())
    );
     $("#t_B").val(new_bal_t);

    var new_CP_t = (
        Number($("#id_t_currently_paid").val()) + Number($("#t_amount").val())
    );
    $("#t_CP").val(new_CP_t);

    var new_bal_fo = (
         Number($("#id_fo_balance").val()) - Number($("#fo_amount").val())
    );
     $("#fo_B").val(new_bal_fo);

    var new_CP_fo = (
        Number($("#id_fo_currently_paid").val()) + Number($("#fo_amount").val())
    );
    $("#fo_CP").val(new_CP_fo);
 }
});
</script>
    <form method="post" action="{% url 'update_data' post.pk %}"  id="form_submit">
      {% csrf_token %}
        <center><a id="hide" class="feedback">Details</a></center><hr>
    <div class="container" id="details">
     <div class="row">
        <div class="col-md-4">
              {{ form.student_name|as_crispy_field }}
          </div>
          <div class="col-md-4">
              {{ form.fathers_name|as_crispy_field }}
          </div>
          <div class="col-md-4">
              {{ form.dob|as_crispy_field }}
          </div>
     </div>
     <div class="row">
        <div class="col-md-4">
    {{form.gender|as_crispy_field}}
          </div>
          <div class="col-md-4">
    {{form.session_of_add|as_crispy_field}}
          </div>
          <div class="col-md-4">
    {{form.course_duration|as_crispy_field}}
          </div>
     </div>
     <div class="row">
        <div class="col-md-3">
{{form.course|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.branch|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.contact|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.email|as_crispy_field}}
        </div>
     </div>
     <div class="row">
        <div class="col-md-3">
    {{form.bus|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.hostel|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.mess|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.clinic|as_crispy_field}}
        </div>
     </div>
    </div><hr>
    <div class="container">
        <div class="row">
        <div class="col-sm-4">
          <p><label for="id_year">year:</label>
                <select name="year" id="id_year">
                  <option value="">select</option>
                  <option value="1">1st</option>
                  <option value="2">2nd</option>
                  <option value="3">3rd</option>
                  <option value="4">4th</option>
                </select>
            </p>
        </div>
        <div class="col-sm-4">
          <p><label for="id_fee_type">Type of Fees</label>
                <select name="fee_type" id="id_fee_type">
                  <option value="">select</option>
                  <option value="Fees">Fees</option>
                  <option value="Fine">Fine</option>
                  <option value="Hostel">Hostel</option>
                  <option value="Hostel & Mess">Hostel & Mess</option>
                  <option value="Bus Service">Bus Service</option>
                </select>
            </p>
        </div>
        <div class="col-sm-4">
         <p><label for="id_fees_amount">Fees Amount:</label>
                <input type="text" name="fees_amount" maxlength="10" id="id_fees_amount">
            </p>
        </div>
    </div><hr>
    </div>
    <div class="container-fluid">
    <center><h2>Select Years</h2></center>
    <center><ul class="nav nav-tabs nav-justified" style="align-items: center">
    <li class="active" ><a data-toggle="tab" href="#firstyr">First Year</a></li>
    <li><a data-toggle="tab" href="#secondyr">Second Year</a></li>
    <li><a data-toggle="tab" href="#thirdyr">Third Year</a></li>
    <li><a data-toggle="tab" href="#fourthyr">Fourth Year</a></li>
  </ul></center>
    <div class="tab-content">
    <div id="firstyr" class="tab-pane fade in active">
        <br>
     <div class="row">
        <div class="col-md-3">
    {{form.f_tuition_fee|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.f_development_fee|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.admission_fee|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.f_lab_computer_fee|as_crispy_field}}
        </div>
     </div>
     <div class="row">
        <div class="col-md-3">
    {{form.f_library|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.f_sports_activities|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.f_college_exam|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.f_student_welfare|as_crispy_field}}
        </div>
     </div>
     <div class="row">
        <div class="col-md-3">
    {{form.f_bus_fees|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.f_hostel_fees|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.f_mess_fees|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.f_clinic_fees|as_crispy_field}}
        </div>
     </div>
     <div class="row">
        <div class="col-md-4">
    {{form.caution_fee|as_crispy_field}}
        </div>
        <div class="col-md-4">
    {{form.clerical_fee|as_crispy_field}}
        </div>
        <div class="col-md-4">
    {{form.med_equip|as_crispy_field}}
        </div>
     </div>
     <div class="row">
        <div class="col-md-4">
    {{form.uniform_fee|as_crispy_field}}
        </div>
        <div class="col-md-4">
    {{form.wel_kit|as_crispy_field}}
        </div>
        <div class="col-md-4">
    {{form.prac_rec|as_crispy_field}}
        </div>
     </div>
     <div class="row">
        <div class="col-md-2">
    {{form.f_actual_fees|as_crispy_field}}
        </div>
        <div class="col-md-2">
    {{form.f_concession|as_crispy_field}}
        </div>
        <div class="col-md-2">
    {{form.f_balance|as_crispy_field}}
        </div>
        <div class="col-md-2">
    {{form.f_currently_paid|as_crispy_field}}
        </div>
        <div class="col-md-2">
    {{form.f_net_pay|as_crispy_field}}
        </div>
     </div><br>
     <div class="row">
        <div class="col-md-2">
            <label for="f_amount">Amount</label><input class="form-control" type="number" id="f_amount" name="f_amount">
        </div>
        <div class="col-md-2">
            <label for="f_CP">New Currently Paid</label><input class="form-control" type="number" id="f_CP" name="f_CP" readonly>
        </div>
        <div class="col-md-2">
            <label for="f_B">New Balance</label><input class="form-control" type="number" id="f_B" name="f_B" readonly>
        </div>
     </div><br>
    </div>
    <div id="secondyr" class="tab-pane fade">
     <div class="row">
        <div class="col-md-3">
    {{form.s_tuition_fee|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.s_development_fee|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.s_lab_computer_fee|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.s_library|as_crispy_field}}
        </div>
     </div>
     <div class="row">
        <div class="col-md-4">
    {{form.s_sports_activities|as_crispy_field}}
        </div>
        <div class="col-md-4">
    {{form.s_college_exam|as_crispy_field}}
        </div>
        <div class="col-md-4">
    {{form.s_student_welfare|as_crispy_field}}
        </div>
     </div>
     <div class="row">
        <div class="col-md-3">
    {{form.s_bus_fees|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.s_hostel_fees|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.s_mess_fees|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.s_clinic_fees|as_crispy_field}}
        </div>
     </div>
     <div class="row">
        <div class="col-md-2">
    {{form.s_actual_fees|as_crispy_field}}
        </div>
        <div class="col-md-2">
    {{form.s_concession|as_crispy_field}}
        </div>
        <div class="col-md-2">
    {{form.s_balance|as_crispy_field}}
        </div>
        <div class="col-md-2">
    {{form.s_currently_paid|as_crispy_field}}
        </div>
        <div class="col-md-2">
    {{form.s_net_pay|as_crispy_field}}
        </div>
     </div>
    <div class="row">
        <div class="col-md-2">
            <label for="s_amount">Amount</label><input class="form-control" type="number" id="s_amount" name="s_amount">
        </div>
        <div class="col-md-2">
            <label for="s_CP">New Currently Paid</label><input class="form-control" type="number" id="s_CP" name="s_CP" readonly>
        </div>
        <div class="col-md-2">
            <label for="s_B">New Balance</label><input class="form-control" type="number" id="s_B" name="s_B" readonly>
        </div>
     </div><br>
    </div>
    <div id="thirdyr" class="tab-pane fade">
    <div class="row">
        <div class="col-md-3">
    {{form.t_tuition_fee|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.t_development_fee|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.t_lab_computer_fee|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.t_library|as_crispy_field}}
        </div>
     </div>
    <div class="row">
        <div class="col-md-4">
    {{form.t_sports_activities|as_crispy_field}}
        </div>
        <div class="col-md-4">
    {{form.t_college_exam|as_crispy_field}}
        </div>
        <div class="col-md-4">
    {{form.t_student_welfare|as_crispy_field}}
        </div>
     </div>
    <div class="row">
        <div class="col-md-3">
    {{form.t_bus_fees|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.t_hostel_fees|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.t_mess_fees|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.t_clinic_fees|as_crispy_field}}
        </div>
 </div>
    <div class="row">
        <div class="col-md-2">
    {{form.t_actual_fees|as_crispy_field}}
        </div>
        <div class="col-md-2">
    {{form.t_concession|as_crispy_field}}
        </div>
        <div class="col-md-2">
    {{form.t_balance|as_crispy_field}}
        </div>
        <div class="col-md-2">
    {{form.t_currently_paid|as_crispy_field}}
        </div>
        <div class="col-md-2">
    {{form.t_net_pay|as_crispy_field}}
        </div>
     </div>
    <div class="row">
        <div class="col-md-2">
            <label for="t_amount">Amount</label><input class="form-control" type="number" id="t_amount" name="t_amount">
        </div>
        <div class="col-md-2">
            <label for="t_CP">New Currently Paid</label><input class="form-control" type="number" id="t_CP" name="t_CP" readonly>
        </div>
        <div class="col-md-2">
            <label for="t_B">New Balance</label><input class="form-control" type="number" id="t_B" name="t_B" readonly>
        </div>
     </div><br>
    </div>
    <div id="fourthyr" class="tab-pane fade">
     <div class="row">
        <div class="col-md-3">
    {{form.fo_tuition_fee|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.fo_development_fee|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.fo_lab_computer_fee|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.fo_library|as_crispy_field}}
        </div>
     </div>
     <div class="row">
        <div class="col-md-4">
    {{form.fo_sports_activities|as_crispy_field}}
        </div>
        <div class="col-md-4">
    {{form.fo_college_exam|as_crispy_field}}
        </div>
        <div class="col-md-4">
    {{form.fo_student_welfare|as_crispy_field}}
        </div>
     </div>
     <div class="row">
        <div class="col-md-3">
    {{form.fo_bus_fees|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.fo_hostel_fees|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.fo_mess_fees|as_crispy_field}}
        </div>
        <div class="col-md-3">
    {{form.fo_clinic_fees|as_crispy_field}}
        </div>
     </div>
     <div class="row">
        <div class="col-md-2">
    {{form.fo_actual_fees|as_crispy_field}}
        </div>
        <div class="col-md-2">
    {{form.fo_concession|as_crispy_field}}
        </div>
        <div class="col-md-2">
    {{form.fo_balance|as_crispy_field}}
        </div>
        <div class="col-md-2">
    {{form.fo_currently_paid|as_crispy_field}}
        </div>
        <div class="col-md-2">
    {{form.fo_net_pay|as_crispy_field}}
        </div>
     </div>
     <div class="row">
        <div class="col-md-2">
            <label for="fo_amount">Amount</label><input class="form-control" type="number" id="fo_amount" name="fo_amount">
        </div>
        <div class="col-md-2">
            <label for="fo_CP">New Currently Paid</label><input class="form-control" type="number" id="fo_CP" name="fo_CP" readonly>
        </div>
        <div class="col-md-2">
            <label for="fo_B">New Balance</label><input class="form-control" type="number" id="fo_B" name="fo_B" readonly>
        </div>
 </div><br>
    </div>
  </div>
    <div class="content" id="mybutton">
        <button class="feedback button" type="submit" value="submit ">Update Fees</button>
    </div>
    </div>
</form>
{% endblock %}
